@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:300&subset=latin,latin-ext);

.ui-li-static.ui-collapsible > .ui-collapsible-heading {
    margin: 0;
}
.ui-li-static.ui-collapsible {
    padding: 0;
}
.ui-li-static.ui-collapsible > .ui-collapsible-heading > .ui-btn {
    border-top-width: 0;
}
.ui-li-static.ui-collapsible > .ui-collapsible-heading.ui-collapsible-heading-collapsed > .ui-btn,
.ui-li-static.ui-collapsible > .ui-collapsible-content {
    border-bottom-width: 0;
}



/* Shows sources in two columns. */
@media ( min-width: 48em ) {


}

/* For big screens */
@media only screen and (min-width: 1025px){
    .ui-content {
        width: 960px !important;
        margin: 0 auto !important;
        position: relative !important;
        padding: 10px !important;
    }

    .extnav{
        position: absolute;
        right: 1em;
        top: 1ex;
        text-align: right;
        display: inline !important;
    }

    .responsive .ui-listview li {
        float: left;
        width: 50%;
    }
    .responsive .ui-listview li > .ui-btn {
        -webkit-box-sizing: border-box; /* include padding and border in height so we can set it to 100% */
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
        height: 100%;
    }
    .responsive .ui-listview li.ui-li-has-thumb .ui-li-thumb {
        height: auto; /* To keep aspect ratio. */
        max-width: 100%;
        max-height: none;
    }
    /* Make all list items and anchors inherit the border-radius from the UL. */
    .responsive .ui-listview li,
    .responsive .ui-listview li .ui-btn,
    .responsive .ui-listview .ui-li-thumb {
        -webkit-border-radius: inherit;
        border-radius: inherit;
    }

    /* Creates border */
    .responsive .ui-listview>.ui-li-static, .responsive .ui-listview>.ui-li-divider, .responsive .ui-listview>li>a.ui-btn {
        border-width: 1px;
        border-style: solid;
    }

    /* Semi transparent background and different position if there is a thumb. The button has overflow hidden so we don't need to set border-radius. */
    .ui-listview .ui-li-has-thumb h2,
    .ui-listview .ui-li-has-thumb p {
        background: #111;
        background: rgba(0,0,0,.8);
    }
    .ui-listview .ui-li-has-thumb h2 {
        bottom: 35%;
    }
    .ui-listview .ui-li-has-thumb p {
        min-height: 35%;
    }
}

/* YodaQA Live */
.mainHeader{
    font-size: 350% !important;
    text-align: center;
    font-family: 'Roboto Slab';
}

/* highlight of answer in snippet */
.highlight{
    background-color: lightgreen;
    text-shadow:none !important;
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

#verticalCenter{
    opacity: 0.0;
}

.scorebar {
    height: 1ex;
    margin-top: 3px;
    margin-bottom: -5px;
    vertical-align: middle;
    text-align: left;
    margin-left: 0;
    margin-right: 0;
    border: 0pt;
    border-radius: 7px 7px 7px 7px;
}

.mainHeaderLink{
    color: #333 !important;
    text-decoration: none !important;
}